:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: ##243a76;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3d;

    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html { 
    /* 10px */
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-2-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% / 3);
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* Animation */
@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Button */
.btn {
    height: 34px;
    min-width: 124px;
    padding: 0 12px;
    border-radius: 9999px;
    border: none;
    font-size: 1.3rem;
    outline: none;
    cursor: pointer;
    background-color: rgb(31, 49, 100);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    text-decoration: none;
}