body {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__content {
    width: 90%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.video {
    width:500px;
    height:300px;
    position: relative;
}

.video__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video__icon {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #666;
}

.sale-off {
    color: white;
    background-color: orange;
    border-radius: 2px;
    font-size: 12px;
    right: 5px;
    top: 10px;
    position: absolute;
}

.bar {
    width: 300px;
    height: 10px;
    background-color: #ccc;
    margin: 100px auto;
    border-radius: 2px;
    position: relative;
}

.bar-progress {
    height: 100%;
    width: 50%;
    border-radius: inherit;
    background-color: green;
    position: absolute;
}

.bar-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}